/* Variable definition, useful for themes */
:root {
  --bg-color: #0c120c;
  --text-color: #ffffff;
  --first-accent-color: #d81159;
  --second-accent-color: #330036;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color); /* Dark background */
  color: var(--text-color); /* White text */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto; /* Full height */
  margin: 1%;
  margin-left: 1%;
  flex-grow: 1;
}

.editor,
.preview {
  width: 100%; /* Slight gap between editor and preview */
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Flex direction for proper alignment */
}

textarea {
  flex: 1; /* Allow textarea to take full height */
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2em;
  background-color: var(--bg-color); /* Dark background for textarea */
  color: var(--text-color); /* White text color in textarea */
  resize: none; /* Disable resizing */
  border: dashed 1px var(--first-accent-color);
  transition: all 1s;
}

textarea:focus {
  border: none;
  outline: none;
}

/* For the preview area */
#preview {
  flex: 1; /* Allow preview to take full height */
  padding: 10px;
  overflow-y: scroll; /* Add scrolling for overflow */
  border-radius: 8px;
}

/* Table styles */

table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Combines borders for a cleaner look */
}

th,
td {
  padding: 10px; /* Padding inside cells */
  text-align: left; /* Align text to the left */
}

th {
  background-color: var(
    --second-accent-color
  ); /* Dark background for table headers */
  color: var(--text-color); /* White text for headers */
}

tr:nth-child(even) {
  background-color: var(
    --second-accent-color
  ); /* Light background for even rows */
}

/*Splash Screen*/
.splash-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  animation: fadeOut 1.5s ease-out forwards;
  animation-delay: 1s;
}

.splash-screen img {
  max-width: 100%;
  height: auto;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden; /* Hide the splash screen after fading */
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-accent-color); /* Color of the draggable part */
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: var(
    --second-accent-color
  ); /* Background of the scrollbar track */
}

#editor::-webkit-scrollbar {
  display: none;
}

.input-row {
  display: flex; /* Use flexbox for inline arrangement */
  margin-bottom: 15px; /* Space between the input rows */
}

.input-row input {
  margin-right: 10px; /* Space between input fields */
  flex: 1; /* Makes inputs take available space equally */
}

details {
  align-self: flex-start;
  margin-top: 1%;
}

input {
  flex: 1; /* Allow textarea to take full height */
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2em;
  background-color: var(--bg-color); /* Dark background for textarea */
  color: var(--text-color); /* White text color in textarea */
  border: dashed 1px var(--first-accent-color);
  transition: all 1s;
}

input:focus {
  border: none;
  outline: none;
}

#customStyle,
#customBody {
  field-sizing: content;
}

.customHeaderFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.marginGrid {
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

input {
  field-sizing: content;
}

.customStyle {
  display: flex;
  flex-direction: column;
}

li div button {
  background-color: var(--first-accent-color);
  color: var(--bg-color);
  border-radius: 5px;
  height: auto;
}
